@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', normal;
}

.main {
    background: linear-gradient(108.09deg, #DFFFB6 0.3%, rgba(61, 255, 232, 0.26) 100%);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.main__content {
    color: #151B26;
    width: 100%;
}

.main__content h1 {
    font-size: 66px;
    background-color: black;
    background-image: linear-gradient(to top, #286683 10%, #45cebe 90%);
    background-size: 100%;
    line-height: 80px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    letter-spacing: -0.008em;
    color: #646F79
}

#main__img {
    position: absolute;
    width: 382 94px;
    height: 495px;
    left: 1070px;
    top: 203px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about {
    background: linear-gradient(108.09deg, #DFFFB6 0.3%, rgba(61, 255, 232, 0.26) 100%);
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.about__content {
    color: #286683;
    width: 100%;
}

.about__content h1 {
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    width: 639px;
    height: 80px;
    left: 600px;
    top: 1000px;
    font-size: 66px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}

.about__content h2 {
    position: absolute;
    width: 1165px;
    height: 30px;
    left: 695px;
    top: 1200px;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    align-items: center;
}

.about__content p {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    letter-spacing: -0.008em;
    color: #646F79
}

.site-footer {
    background-color: #DCDCDC;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}